<h3>Characteristics</h3>
<table class="col-xs-12">
    <tr>
        <td width="17%"><label>STR</label></td>
        <td width="17%"><label>CON</label></td>
        <td width="17%"><label>DEX</label></td>
        <td width="17%"><label>SIZ</label></td>
        <td width="17%"><label>INT</label></td>
        <td width="17%"><label>POW</label></td>
        <td width="17%"><label>CHA</label></td>
    </tr>
    <tr>
        <td>{{character.characteristics.str}}</td>
        <td>{{character.characteristics.con}}</td>
        <td>{{character.characteristics.dex}}</td>
        <td>{{character.characteristics.siz}}</td>
        <td>{{character.characteristics.int}}</td>
        <td>{{character.characteristics.pow}}</td>
        <td>{{character.characteristics.cha}}</td>
    </tr>
</table>
<br><br>